*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
ul {
	list-style: none;
}
a {
	color: inherit;
	text-decoration: none;
}
body {
	height: 100%;
}
.main {
	min-height: 1000px;
	position: relative;
	overflow: hidden;
	height: 100%;
}
/* =========== Шапка сайта ========== */
.header{
	height: 80px;
	background: #191919;
	border-bottom: 2px solid #3498db;
	color: #fff;
}

.container{
	width: 80%;
	margin: 0 auto;
	height: 100%;
	
}

.header__content{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.header__logo{
	color: #fff;
	font-size: 20px;
	border: 0;
	background: none;
	display: block;
	text-decoration: none;
	text-align: center;
	padding: 14px 10px;
	outline: none;
	color: white;
	transition: 0.25s;
}
.header__logo:hover{
	color: #2ecc71;
}
.header__navigation {
	height: 100%;
}
.header__lists {
	-webkit-display: flex;
	display: flex;
	align-items: center;
	flex-direction: row;
	height: 100%;
}
.header__item {

	height: 100%;
	color: #fff;
	font-size: 20px;
	outline: none;
	border: 0;
	background: none;
	text-align: center;
	padding: 0 10px;
	width: 200px;
	height: inherit;
	transition: 0.25s;
	box-sizing: border-box;
}
.header__item:hover{
	background: #3498db;
}
.header__link {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
/* / Список */




/* Профиль */
.header_profile {
	display: flex;
	align-items: center;
}
.header_profile_img {
	border: 2px solid #3498db;
	width: 50px;
	height: 50px;
	background: #fff;
	border-radius: 100%;
	margin-right: 10px;

	position: relative;
   overflow:hidden;
	background-image: url(../img/user.jpg);
	background-size: cover;

}
.header_profile_img:hover{
	border: 2px solid #2ecc71;
}
.header_profile_img img{
	position: absolute;
   top: 50%;
   left: 50%;
   transform:translate(-50%,-50%);
   object-fit: cover;
	width: 50px;
	height: 50px;
}

.header_profile_logout {
	color: white;
	text-decoration: none;
}
.header_profile_logout:hover{
	color: red;
}
/* / Профиль */

/* / Шапка */


/* Секция Заметки */
.section-notes {
	max-width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 60px;
	margin-left: 50px;
	color: #fff;
}
.notes__title{
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 1px solid #3498db;
}
.notes__lists{
	padding-left: 15px;
}
.notes__lists li{
	list-style: none;
	padding: 15px;
	margin-bottom: 10px;
	background-color: #3498db;
	border: 1px solid silver;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
}
.notes__lists li:hover{
	background: #2ecc71;
}
.notes__lists li button{
	border: 0;
	padding: 5px 10px;
	max-height: 25px;
	color: white;
	font-size: 13px;
	background: #db5757;
	position: relative;
	border-radius: 5px;
	cursor: pointer;
}
.notes__lists li button:hover{
	background: #b13d3d;
}

.add-todo-block {
	padding: 10px 0;
}
/* Секция Заметки */


/* Список изменений */

.changes-block {
	display: flex;
	flex-direction: column;
	width: 370px;
	padding-right: 50px;
}

.changes__lists li{
	min-height: 25px;
	list-style: none;
	padding: 15px;
	margin-bottom: 10px;
	background-color: burlywood;
	border: 1px solid silver;
	border-radius: 5px;

	color: black;
}

.changes-block__title {
	margin-bottom: 10px;
	align-self: center;
}

/* Добавить дело */

.add-notes__input {
	padding: 7px;
	margin-right: 10px;
	border-radius: 10px;
	cursor: pointer;
}

.add-notes__input:hover {
	background-color: #2ecc71;
}

.add-notes__title {
	margin-bottom: 10px;
}

.add-notes__button {
	padding: 7px;
	border-radius: 10px;
	cursor: pointer;
}

.add-notes__button:hover {
	background-color: #db5757;
}